In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
import os
import json

%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [36]:
url = "https://data.cityofnewyork.us/resource/h9gi-nx95.csv" #get data from url

In [37]:
!curl -O "https://data.cityofnewyork.us/resource/h9gi-nx95.csv" #download data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  185k    0  185k    0     0   490k      0 --:--:-- --:--:-- --:--:--  954k

In [38]:
os.system("mv h9gi-nx95.csv " + os.getenv("PUIDATA")) #move to PUIdata folder -only use the last portion of .csv for string

0

In [39]:
# os.system("unzip " + os.getenv('PUIDATA') + '/' + "mn_mappluto_16v1.zip") - code used to unzip if its a zipfile

In [40]:
df = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv")

In [41]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,10/18/2016,0:10,BRONX,10462.0,40.856807,-73.860972,"(40.8568071, -73.8609724)",PELHAM PARKWAY SOUTH,BOGART AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3543197,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1,10/18/2016,0:10,BROOKLYN,11222.0,40.729502,-73.953958,"(40.7295015, -73.9539577)",MANHATTAN AVENUE,MILTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,3542246,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
2,10/18/2016,0:10,MANHATTAN,10016.0,40.742853,-73.977207,"(40.7428535, -73.977207)",EAST 31 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3542608,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,10/18/2016,0:10,MANHATTAN,10019.0,40.767889,-73.981512,"(40.7678891, -73.9815125)",COLUMBUS CIRCLE,CENTRAL PARK SOUTH,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3542262,TAXI,TAXI,NaN,NaN,NaN
4,10/18/2016,0:10,QUEENS,11412.0,40.692471,-73.759412,"(40.6924712, -73.7594116)",192 STREET,LINDEN BOULEVARD,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3542103,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN

In [42]:
df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [43]:
# drop columns by df.drop(['columns names seperated by', ], axis =1 for columns and axis = 0 for rows, inplace=True)

In [44]:
# df.drop(['DATE','TIME', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
#        'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
#        'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
#        'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
#        'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
#        'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
#        'VEHICLE TYPE CODE 5'], axis = 1, inplace=True)